<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="QXHZZ_description">
    <mujoco>
        <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false" autolimits="true" />
    </mujoco>
    <!-- 巨大的问题是Bodies touching ground (Indices): tensor([ 3,7,11, 15], device='cuda:0') #实际上 3 7 11 15不同时全部出现
    Feet Indices: tensor([ 4,  8, 12, 16], device='cuda:0') 
    body_names: ['trunk', 'FL_hip', 'FL_thigh', 'FL_calf', 'FL_foot', 'FR_hip', 'FR_thigh', 'FR_calf', 'FR_foot', 
    'RL_hip', 'RL_thigh', 'RL_calf', 'RL_foot', 'RR_hip', 'RR_thigh', 'RR_calf', 'RR_foot', 'imu_link']

    由于calf的collision尺寸比feet大一圈:仿真里是calf而不是feet着地 
    Vertical Contact forces (脚底接触力) 检测不到，matplot数据图里一直是0 
    sphere radius="0.01 0.03
    临时：把fixed_foot z坐标由-0.22改为-0.229，foot碰撞体半径0.02改为0.03
    -->
    <!-- 注：如果asset.collapse_fixed_joints = True时isaacgym检测到两个物体通过 fixed关节连接时，为了节省计算资源，引擎会把他们合并-->
    <link name="base">
        <inertial>
            <origin xyz="-4.5586E-19 7.1229E-19 0" rpy="0 0 0" />
            <mass value="0" />
            <inertia ixx="7.5902E-06" ixy="-2.3832E-38" ixz="0" iyy="5.2382E-06" iyz="2.3545E-22" izz="1.1605E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/base_link.STL" />
            </geometry>
            <material name="">
                <color rgba="0.77647 0.75686 0.73725 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/base_link.STL" />
            </geometry>
        </collision>
    </link>
    <link name="trunk">
        <inertial>
            <origin xyz="4.6426E-19 -2.7756E-17 2.7406E-17" rpy="0 0 0" />
            <mass value="5.36" />
            <inertia ixx="55862e-6" ixy="0.000000" ixz="0.000000" iyy="96172.757e-6" iyz="0.000000" izz="111591.548e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/shenzi.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <!-- <box size="0.325 0.27 0.16" /> -->
                <mesh filename="../meshes/shenzi.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="imu_joint" type="fixed">
        <parent link="trunk" />
        <child link="imu_link" />
        <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>
    <joint name="floating_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base" />
        <child link="trunk" />
        <axis xyz="0 0 0" />
    </joint>
    <!-- #虚拟关节 -->
    <link name="imu_link">
        <inertial>
            <mass value="0.001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <!-- <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size=".001 .001 .001"/>
      </geometry>
    </collision> -->
    </link>
    <link name="FL_hip">
        <inertial>
            <origin xyz="-0.040294 -0.0010631 6.4131E-06" rpy="0 0 0" />
            <mass value="0.80054" />
            <inertia ixx="567.387e-6" ixy="4.141e-6" ixz="0.000000" iyy="893.106e-6" iyz="0.000000" izz="630.935e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yq1.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yq1.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FL_hip_joint" type="revolute">
        <origin xyz="0.22599 0.05 0" rpy="0 0 0" />
        <parent link="trunk" />
        <child link="FL_hip" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796" upper="1.570796" effort="48" velocity="25" />
    </joint>
    <link name="FL_thigh">
        <inertial>
            <origin xyz="0.0030535 -0.015391 -0.04077" rpy="0 0 0" />
            <mass value="1.22" />
            <inertia ixx="8707.219e-6" ixy="0.000000" ixz="487.508e-6" iyy="8424.086e-6" iyz="0.000000" izz="1382.252e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh2.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FL_thigh_joint" type="revolute">
        <origin xyz="0 0.088241 0" rpy="0 0 0" />
        <parent link="FL_hip" />
        <child link="FL_thigh" />
        <axis xyz="0 1 0" />
        <limit lower="-1.570796" upper="3.141593" effort="48" velocity="25" />
    </joint>
    <link name="FL_calf">
        <inertial>
            <origin xyz="-0.0088301 -1.0588E-06 -0.12441" rpy="0 0 0" />
            <mass value="0.53021" />
            <inertia ixx="4322.324e-6" ixy="-0.001e-6" ixz="-254.221e-6" iyy="4363.782e-6" iyz="-0.004e-6" izz="70.443e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh3.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh3.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FL_calf_joint" type="revolute">
        <origin xyz="0 0 -0.22023" rpy="0 0 0" />
        <parent link="FL_thigh" />
        <child link="FL_calf" />
        <axis xyz="0 1 0" />
        <limit lower="-2.705260" upper="-0.523599" effort="48" velocity="25" />
    </joint>
    <joint name="FL_foot_fixed" type="fixed" dont_collapse="true">
        <origin rpy="0 0 0" xyz="0 0 -0.229" />
        <parent link="FL_calf" />
        <child link="FL_foot" />
    </joint>
    <!-- #前右固定脚踝 -->
    <link name="FL_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
            <material name="orange" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.06" />
            <inertia ixx="9.6e-06" ixy="0.0" ixz="0.0" iyy="9.6e-06" iyz="0.0" izz="9.6e-06" />
        </inertial>
    </link>
    <link name="FR_hip">
        <inertial>
            <origin xyz="-0.040294 0.0010631 6.4131E-06" rpy="0 0 0" />
            <mass value="0.80054" />
            <inertia ixx="567.387e-6" ixy="4.141e-6" ixz="0.000000" iyy="893.106e-6" iyz="0.000000" izz="630.935e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zq1.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zq1.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FR_hip_joint" type="revolute">
        <origin xyz="0.22599 -0.05 0" rpy="0 0 0" />
        <parent link="trunk" />
        <child link="FR_hip" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796" upper="1.570796" effort="48" velocity="25" />
    </joint>
    <link name="FR_thigh">
        <inertial>
            <origin xyz="0.0030535 0.015391 -0.04077" rpy="0 0 0" />
            <mass value="1.22" />
            <inertia ixx="8707.219e-6" ixy="0.000000" ixz="487.508e-6" iyy="8424.086e-6" iyz="0.000000" izz="1382.252e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh2.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FR_thigh_joint" type="revolute">
        <origin xyz="0 -0.088241 0" rpy="0 0 0" />
        <parent link="FR_hip" />
        <child link="FR_thigh" />
        <axis xyz="0 1 0" />
        <limit lower="-1.570796" upper="3.141593" effort="48" velocity="25" />
    </joint>
    <link name="FR_calf">
        <inertial>
            <origin xyz="-0.0088301 1.0703E-06 -0.12441" rpy="0 0 0" />
            <mass value="0.53021" />
            <inertia ixx="4322.324e-6" ixy="-0.001e-6" ixz="-254.221e-6" iyy="4363.782e-6" iyz="-0.004e-6" izz="70.443e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh3.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh3.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="FR_calf_joint" type="revolute">
        <origin xyz="0 0 -0.22023" rpy="0 0 0" />
        <parent link="FR_thigh" />
        <child link="FR_calf" />
        <axis xyz="0 1 0" />
        <limit lower="-2.705260" upper="-0.523599" effort="48" velocity="25" />
    </joint>
    <joint name="FR_foot_fixed" type="fixed" dont_collapse="true">
        <origin rpy="0 0 0" xyz="0 0 -0.229" />
        <parent link="FR_calf" />
        <child link="FR_foot" />
    </joint>
    <!-- #前右固定脚踝 -->
    <link name="FR_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
            <material name="orange" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.06" />
            <inertia ixx="9.6e-06" ixy="0.0" ixz="0.0" iyy="9.6e-06" iyz="0.0" izz="9.6e-06" />
        </inertial>
    </link>
    <link name="RL_hip">
        <inertial>
            <origin xyz="0.040294 -0.0010631 6.4131E-06" rpy="0 0 0" />
            <mass value="0.80054" />
            <inertia ixx="567.387e-6" ixy="4.141e-6" ixz="0.000000" iyy="893.106e-6" iyz="0.000000" izz="630.935e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh1.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh1.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RL_hip_joint" type="revolute">
        <origin xyz="-0.22599 0.05 0" rpy="0 0 0" />
        <parent link="trunk" />
        <child link="RL_hip" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796" upper="1.570796" effort="48" velocity="25" />
    </joint>
    <link name="RL_thigh">
        <inertial>
            <origin xyz="-0.0030535 -0.015391 -0.04077" rpy="0 0 0" />
            <mass value="1.22" />
            <inertia ixx="8707.219e-6" ixy="0.000000" ixz="487.508e-6" iyy="8424.086e-6" iyz="0.000000" izz="1382.252e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh2.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RL_thigh_joint" type="revolute">
        <origin xyz="0 0.088241 0" rpy="0 0 0" />
        <parent link="RL_hip" />
        <child link="RL_thigh" />
        <axis xyz="0 1 0" />
        <limit lower="-1.570796" upper="3.141593" effort="48" velocity="25" />
    </joint>
    <link name="RL_calf">
        <inertial>
            <origin xyz="0.0088301 -1.0703E-06 -0.12441" rpy="0 0 0" />
            <mass value="0.53021" />
            <inertia ixx="4322.324e-6" ixy="-0.001e-6" ixz="-254.221e-6" iyy="4363.782e-6" iyz="-0.004e-6" izz="70.443e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh3.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/zh3.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RL_calf_joint" type="revolute">
        <origin xyz="0 0 -0.22023" rpy="0 0 0" />
        <parent link="RL_thigh" />
        <child link="RL_calf" />
        <axis xyz="0 1 0" />
        <limit lower="-2.705260" upper="-0.523599" effort="48" velocity="25" />
    </joint>
    <joint name="RL_foot_fixed" type="fixed" dont_collapse="true">
        <origin rpy="0 0 0" xyz="0 0 -0.229" />
        <parent link="RL_calf" />
        <child link="RL_foot" />
    </joint>
    <!-- #前右固定脚踝 -->
    <link name="RL_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
            <material name="orange" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.06" />
            <inertia ixx="9.6e-06" ixy="0.0" ixz="0.0" iyy="9.6e-06" iyz="0.0" izz="9.6e-06" />
        </inertial>
    </link>
    <link name="RR_hip">
        <inertial>
            <origin xyz="0.040294 0.0010631 6.4131E-06" rpy="0 0 0" />
            <mass value="0.80054" />
            <inertia ixx="567.387e-6" ixy="4.141e-6" ixz="0.000000" iyy="893.106e-6" iyz="0.000000" izz="630.935e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh1.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh1.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RR_hip_joint" type="revolute">
        <origin xyz="-0.22599 -0.05 0" rpy="0 0 0" />
        <parent link="trunk" />
        <child link="RR_hip" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796" upper="1.570796" effort="48" velocity="25" />
    </joint>
    <link name="RR_thigh">
        <inertial>
            <origin xyz="-0.0030535 0.015391 -0.04077" rpy="0 0 0" />
            <mass value="1.22" />
            <inertia ixx="8707.219e-6" ixy="0.000000" ixz="487.508e-6" iyy="8424.086e-6" iyz="0.000000" izz="1382.252e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh2.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh2.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RR_thigh_joint" type="revolute">
        <origin xyz="0 -0.088241 0" rpy="0 0 0" />
        <parent link="RR_hip" />
        <child link="RR_thigh" />
        <axis xyz="0 1 0" />
        <limit lower="-1.570796" upper="3.141593" effort="48" velocity="25" />
    </joint>
    <link name="RR_calf">
        <inertial>
            <origin xyz="0.0088301 1.0588E-06 -0.12441" rpy="0 0 0" />
            <mass value="0.53021" />
            <inertia ixx="4322.324e-6" ixy="-0.001e-6" ixz="-254.221e-6" iyy="4363.782e-6" iyz="-0.004e-6" izz="70.443e-6" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh3.STL" />
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="../meshes/yh3.STL" />
            </geometry>
        </collision>
    </link>
    <joint name="RR_calf_joint" type="revolute">
        <origin xyz="0 0 -0.22023" rpy="0 0 0" />
        <parent link="RR_thigh" />
        <child link="RR_calf" />
        <axis xyz="0 1 0" />
        <limit lower="-2.705260" upper="-0.523599" effort="48" velocity="25" />
    </joint>
    <joint name="RR_foot_fixed" type="fixed" dont_collapse="true">
        <origin rpy="0 0 0" xyz="0 0 -0.229" />
        <parent link="RR_calf" />
        <child link="RR_foot" />
    </joint>
    <!-- #前右固定脚踝 -->
    <link name="RR_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
            <material name="orange" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.06" />
            <inertia ixx="9.6e-06" ixy="0.0" ixz="0.0" iyy="9.6e-06" iyz="0.0" izz="9.6e-06" />
        </inertial>
    </link>
</robot>