<?xml version="1.0"?>
<robot name="z2">
<!-- package://z2 -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="base_link_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0002 0 0.0006991" rpy="0 0 0" />
      <geometry>
        <box size="0.342 0.2369992 0.0869992" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.000191 0.0000032 0.0006968" rpy="0 0 0" />
      <mass value="5.58" />
      <inertia ixx="0.037965" ixy="0" ixz="0" iyy="0.083111" iyz="0" izz="0.107543" />
    </inertial>
  </link>

  <link name="FL_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_hip.STL" />
      </geometry>
      <material name="FL_hip_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.057684 -0.0226742 0.0010791" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0366" length="0.0668" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0503824 -0.0220598 -0.0002227" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.000554" ixy="0.000086" ixz="0.000005" iyy="0.000603" iyz="-0.000002" izz="0.000641" />
    </inertial>
  </link>

  <link name="FL_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_thigh.STL" />
      </geometry>
      <material name="FL_thigh_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.012625 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0422" length="0.1005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.011032 0.0188 -0.077453" rpy="0 0.15 0" />
      <geometry>
        <box size="0.05 0.03 0.19" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.007049 0.002918 -0.050395" rpy="0 0 0" />
      <mass value="0.955" />
      <inertia ixx="0.004868" ixy="0.00009" ixz="-0.000426" iyy="0.00451" iyz="0.000813" izz="0.001238" />
    </inertial>
  </link>

  <link name="FL_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_calf.STL" />
      </geometry>
      <material name="FL_calf_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022557 -0.0008348 -0.072349" rpy="0 1.337605 0" />
      <geometry>
        <box size="0.2403 0.04 0.03" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.029216 0.0001028 -0.09516" rpy="0 0 0" />
      <mass value="0.18" />
      <inertia ixx="0.001064" ixy="0" ixz="0.000252" iyy="0.001142" iyz="0.000002" izz="0.000092" />
    </inertial>
  </link>

  <link name="FL_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FL_foot.STL" />
      </geometry>
      <material name="FL_foot_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000003 -0.00015 0.00064" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.026" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.0017068 -0.0000316 -0.006179" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="0.000004" ixy="0" ixz="0" iyy="0.000004" iyz="0" izz="0.000005" />
    </inertial>
  </link>

  <link name="FR_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_hip.STL" />
      </geometry>
      <material name="FR_hip_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.057684 0.0226742 0.0010791" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0366" length="0.0668" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0506296 0.0221701 -0.000239" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.000554" ixy="-0.000086" ixz="0.000005" iyy="0.000603" iyz="0.000002" izz="0.000641" />
    </inertial>
  </link>

  <link name="FR_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_thigh.STL" />
      </geometry>
      <material name="FR_thigh_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.012625 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0422" length="0.1005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.011032 -0.0188 -0.077453" rpy="0 0.15 0" />
      <geometry>
        <box size="0.05 0.03 0.19" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.007071 -0.003119 -0.050404" rpy="0 0 0" />
      <mass value="0.955" />
      <inertia ixx="0.004867" ixy="-0.000089" ixz="-0.000425" iyy="0.004509" iyz="-0.000813" izz="0.001238" />
    </inertial>
  </link>

  <link name="FR_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_calf.STL" />
      </geometry>
      <material name="FR_calf_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022557 0.0008348 -0.072349" rpy="0 1.337605 0" />
      <geometry>
        <box size="0.2403 0.04 0.03" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.031488 -0.0001029 -0.0944333" rpy="0 0 0" />
      <mass value="0.18" />
      <inertia ixx="0.001052" ixy="0.000001" ixz="0.000275" iyy="0.001142" iyz="-0.000002" izz="0.000105" />
    </inertial>
  </link>

  <link name="FR_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/FR_foot.STL" />
      </geometry>
      <material name="FR_foot_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000003 0.00015 0.00064" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.026" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.0015583 0.0000316 -0.0062175" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="0.000004" ixy="0" ixz="0" iyy="0.000004" iyz="0" izz="0.000005" />
    </inertial>
  </link>

  <link name="RL_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_hip.STL" />
      </geometry>
      <material name="RL_hip_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.057684 -0.0226742 0.0010791" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0366" length="0.0668" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.0506619 -0.0222818 -0.0002469" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.000554" ixy="-0.000085" ixz="-0.000005" iyy="0.000603" iyz="-0.000002" izz="0.000641" />
    </inertial>
  </link>

  <link name="RL_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_thigh.STL" />
      </geometry>
      <material name="RL_thigh_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.012625 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0422" length="0.1005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.011032 0.0188 -0.077453" rpy="0 0.15 0" />
      <geometry>
        <box size="0.05 0.03 0.19" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.007049 0.003118 -0.050395" rpy="0 0 0" />
      <mass value="0.955" />
      <inertia ixx="0.004868" ixy="0.00009" ixz="-0.000426" iyy="0.00451" iyz="0.000813" izz="0.001238" />
    </inertial>
  </link>

  <link name="RL_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_calf.STL" />
      </geometry>
      <material name="RL_calf_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022557 -0.0008348 -0.072349" rpy="0 1.337605 0" />
      <geometry>
        <box size="0.2403 0.04 0.03" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.029216 0.0001028 -0.09516" rpy="0 0 0" />
      <mass value="0.18" />
      <inertia ixx="0.001064" ixy="0" ixz="0.000252" iyy="0.001142" iyz="0.000002" izz="0.000092" />
    </inertial>
  </link>

  <link name="RL_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RL_foot.STL" />
      </geometry>
      <material name="RL_foot_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000003 -0.00015 0.00064" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.026" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.0017068 -0.0000316 -0.006179" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="0.000004" ixy="0" ixz="0" iyy="0.000004" iyz="0" izz="0.000005" />
    </inertial>
  </link>

  <link name="RR_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_hip.STL" />
      </geometry>
      <material name="RR_hip_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.057684 0.0226742 0.0010791" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0366" length="0.0668" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.0506297 0.0221701 -0.0002391" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.000554" ixy="0.000086" ixz="-0.000005" iyy="0.000603" iyz="0.000002" izz="0.000641" />
    </inertial>
  </link>

  <link name="RR_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_thigh.STL" />
      </geometry>
      <material name="RR_thigh_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.012625 0" rpy="1.5707963 0 0" />
      <geometry>
        <cylinder radius="0.0422" length="0.1005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.011032 -0.0188 -0.077453" rpy="0 0.15 0" />
      <geometry>
        <box size="0.05 0.03 0.19" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.006854 -0.003352 -0.049844" rpy="0 0 0" />
      <mass value="0.955" />
      <inertia ixx="0.004818" ixy="-0.000083" ixz="-0.000412" iyy="0.004471" iyz="-0.000776" izz="0.001193" />
    </inertial>
  </link>

  <link name="RR_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_calf.STL" />
      </geometry>
      <material name="RR_calf_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.022557 0.0008348 -0.072349" rpy="0 1.337605 0" />
      <geometry>
        <box size="0.2403 0.04 0.03" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.031488 -0.0001029 -0.0944333" rpy="0 0 0" />
      <mass value="0.18" />
      <inertia ixx="0.001052" ixy="0.000001" ixz="0.000275" iyy="0.001142" iyz="-0.000002" izz="0.000105" />
    </inertial>
  </link>

  <link name="RR_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/RR_foot.STL" />
      </geometry>
      <material name="RR_foot_mat">
        <color rgba="0.74902353 0.74902353 0.74902353 1.00000000"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000003 0.00015 0.00064" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.026" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.001558 0.000032 -0.006218" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="0.000004" ixy="0" ixz="0" iyy="0.000004" iyz="0" izz="0.000005" />
    </inertial>
  </link>

  <joint name="FL_hip_joint" type="revolute">
    <parent link="base_link" />
    <child link="FL_hip" />
    <origin xyz="0.16 0.075 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="30" velocity="15" />
  </joint>

  <joint name="FL_thigh_joint" type="revolute">
    <parent link="FL_hip" />
    <child link="FL_thigh" />
    <origin xyz="0.055 0.0842 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3" upper="3.2" effort="30" velocity="15" />
  </joint>

  <joint name="FL_calf_joint" type="revolute">
    <parent link="FL_thigh" />
    <child link="FL_calf" />
    <origin xyz="0 0.01475 -0.2" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.4" upper="-0.3" effort="30" velocity="15" />
  </joint>

  <joint dont_collapse="true" name="FL_foot_joint" type="fixed">
    <parent link="FL_calf" />
    <child link="FL_foot" />
    <origin xyz="0.0450727 0.0002 -0.205232" rpy="0 0 0" />
  </joint>

  <joint name="FR_hip_joint" type="revolute">
    <parent link="base_link" />
    <child link="FR_hip" />
    <origin xyz="0.16 -0.075 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="30" velocity="15" />
  </joint>

  <joint name="FR_thigh_joint" type="revolute">
    <parent link="FR_hip" />
    <child link="FR_thigh" />
    <origin xyz="0.055 -0.084 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3" upper="3.2" effort="30" velocity="15" />
  </joint>

  <joint name="FR_calf_joint" type="revolute">
    <parent link="FR_thigh" />
    <child link="FR_calf" />
    <origin xyz="0 -0.01495 -0.2" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.4" upper="-0.3" effort="30" velocity="15" />
  </joint>

  <joint  dont_collapse="true" name="FR_foot_joint" type="fixed">
    <parent link="FR_calf" />
    <child link="FR_foot" />
    <origin xyz="0.0499776 -0.0002 -0.204093" rpy="0 0 0" />
  </joint>

  <joint name="RL_hip_joint" type="revolute">
    <parent link="base_link" />
    <child link="RL_hip" />
    <origin xyz="-0.16 0.075 0.0006991" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="30" velocity="15" />
  </joint>

  <joint name="RL_thigh_joint" type="revolute">
    <parent link="RL_hip" />
    <child link="RL_thigh" />
    <origin xyz="-0.0556459 0.084 -0.0002675" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3" upper="3.2" effort="30" velocity="15" />
  </joint>

  <joint name="RL_calf_joint" type="revolute">
    <parent link="RL_thigh" />
    <child link="RL_calf" />
    <origin xyz="0 0.01495 -0.2" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.4" upper="-0.3" effort="30" velocity="15" />
  </joint>

  <joint  dont_collapse="true" name="RL_foot_joint" type="fixed">
    <parent link="RL_calf" />
    <child link="RL_foot" />
    <origin xyz="0.0450727 0.0002 -0.205232" rpy="0 0 0" />
  </joint>

  <joint name="RR_hip_joint" type="revolute">
    <parent link="base_link" />
    <child link="RR_hip" />
    <origin xyz="-0.16 -0.075 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="30" velocity="15" />
  </joint>

  <joint name="RR_thigh_joint" type="revolute">
    <parent link="RR_hip" />
    <child link="RR_thigh" />
    <origin xyz="-0.055 -0.0842 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3" upper="3.2" effort="30" velocity="15" />
  </joint>

  <joint name="RR_calf_joint" type="revolute">
    <parent link="RR_thigh" />
    <child link="RR_calf" />
    <origin xyz="0 -0.01475 -0.2" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.4" upper="-0.3" effort="30" velocity="15" />
  </joint>

  <joint dont_collapse="true" name="RR_foot_joint" type="fixed">
    <parent link="RR_calf" />
    <child link="RR_foot" />
    <origin xyz="0.0499776 -0.0002 -0.204093" rpy="0 0 0" />
  </joint>

</robot>